/* =========== shared ============ */
body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  min-width: 960px;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  margin-right: auto;
  margin-left: auto;
  width: 940px;
}

.button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 38px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #ee3643;
  text-decoration: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-outline {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.button-outline:hover {
  border-color: #bdc6ca;
}

.button-outline:active {
  border-color: #ee3643;
}




/* =========== site-header ============ */
.site-header {
  background-color: #f3f7f8;
  padding-bottom: 60px;
}

.site-header-bar {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.site-header-bar .container {
  display: flex;
}

.header-logo {
  font-size: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #fff;
  line-height: 42px;
  width: 220px;
  text-align: center;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.bar-search {
  position: relative;
}

.bar-search input {
  width: 222px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 40px;
  border: none;
  background-color: #293449;
  color: #fff;
  padding-left: 48px;
  padding-right: 0;
}

.bar-search input:hover {
  background-color: #212a3a;
}

.bar-search input:focus {
  background-color: #fff;
  color: #000;
}

.bar-search input::-webkit-input-placeholder { color: #fff; }
.bar-search input::-moz-placeholder { color: #fff; }
.bar-search input:-ms-input-placeholder { color: #fff; }
.bar-search input::placeholder { color: #fff }

.bar-search input:focus::-webkit-input-placeholder { color: #000; }
.bar-search input:focus::-moz-placeholder { color: #000; }
.bar-search input:focus:-ms-input-placeholder { color: #000; }
.bar-search input:focus::placeholder { color: #000 }

.bar-search svg {
  position: absolute;
  fill: #fff;
  opacity: 0.3;
  top: 12px;
  left: 17px;
}

.bar-search input:hover + svg {
  opacity: 1;
}

.bar-search input:focus + svg {
  opacity: 1;
  fill: #ee3643;
}


.bar-bookmarks-link,
.bar-cart-link,
.bar-order-link {
  font-size: 17px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.bar-order-link {
  text-align: center;
}

.bar-bookmarks-link {
  width: 150px;
  position: relative;
  text-indent: 44px;
}

.bar-bookmarks-link::before {
  content: "";
  background: url(../img/icon-bookmark.svg);
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.bar-bookmarks-link:hover::before {
  opacity: 1;
}

.bar-cart-link {
  width: 150px;
  position: relative;
  text-indent: 44px;
}

.bar-cart-link::before {
  content: "";
  background: url(../img/icon-cart.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.bar-cart-link:hover::before {
  opacity: 1;
}

.bar-order-link {
  width: 150px;
  background-color: #63a63e;
}

.bar-bookmarks-link:hover,
.bar-cart-link:hover {
  background-color: #212a3a;
}

.bar-order-link:hover {
  background-color: #5fbb2d;
}

.bar-bookmarks-link:active,
.bar-cart-link:active {
  background-color: #161d29;
  opacity: 0.6;
}

.bar-order-link:active {
  background-color: #518534;
  opacity: 0.6;
}

.bar-cart-link.with-items {
  background-color: #ee3643;
}

.bar-cart-link.with-items:hover {
  background-color: #ca2c37;
}

.bar-cart-link.with-items:active {
  background-color: #ba2732;
}

.site-header-content {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 35px;
  padding-bottom: 45px;
}

.header-slogan {
  width: 200px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  padding-left: 52px;
  padding-right: 68px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-contacts {
  width: 270px;
  text-align: center;
  position: relative;
}

.header-contacts::before {
  content: "";
  position: absolute;
  background: url(../img/icon-phone.svg);
  width: 20px;
  height: 20px;
  top: 12px;
  left: 12px;
}

.header-contacts a {
  font-size: 21px;
  color: #e9292a;
  text-decoration: none;
  display: block;
  border: 3px solid #fff;
  padding-left: 20px;
  line-height: 39px;
}

.header-contacts p {
  font-size: 14px;
  color: #32425c;
  margin-top: 7px;
  margin-bottom: 0;
}


.authorization-block {
  font-size: 21px;
  line-height: 45px;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
}

.authorization-block a:hover {
  color: #ee3643;
}

.authorization-block a:active {
  color: #cacaca;
}

.login-link,
.registration-link {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  line-height: 45px;
  padding: 0 22px;
}

.login-link {
  margin-right: 10px;
  padding-left: 48px;
  position: relative;
}

.login-link::before {
  content: "";
  position: absolute;
  background: url(../img/icon-login.svg);
  width: 20px;
  height: 17px;
  top: 14px;
  left: 12px;
  opacity: 0.3;
}

.login-link:hover::before {
  opacity: 1;
}


/* user-block */

.user-block {
  margin-left: auto;
  font-size: 21px;
  position: relative;
}

.user-id {
  display: flex;
  background-color: #fff;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 4px;
}

.user-name {
  position: relative;
  padding: 0px 10px 0px 40px;
  flex-grow: 1;
  color: #000;
  text-decoration: none;
  min-width: 210px;
  line-height: 45px;
}

.user-name::before {
  content: "";
  position: absolute;
  background: url(../img/icon-user.svg);
  width: 20px;
  height: 17px;
  top: 14px;
  left: 12px;
  opacity: 0.2;
}

.user-name:hover::before {
  opacity: 1;
}

.user-name:active::before {
  opacity: 0.2;
}

.user-logout {
  position: relative;
  padding: 10px;
  width: 20px;
  flex-shrink: 0;
}

.user-logout::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 17px;
  background: url(../img/icon-logout.svg);
  opacity: 0.2;
}

.user-logout:hover::before {
  opacity: 1;
}

.user-links {
  display: flex;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  list-style: none;
  font-size: 16px;
}

.user-links li {
  position: relative;
}

.user-links li:not(:last-child) {
  padding-right: 30px;
}

.user-links li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 13px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}

.user-links a {
  color: #32425c;
}

.user-links a:hover {
  color: #ee3643;
}

.user-links a:active {
  color: #32425c;
  opacity: 0.2;
}

/* .user-block {

}

.user-block a:hover {
  color: #ee3643;
}

.user-block a:active {
  color: #cacaca;
}

.user-link {

}

.user-link::before {
  content: "";
  position: absolute;
  background: url(../img/icon-user.svg);
  width: 20px;
  height: 17px;
  top: 14px;
  left: 12px;
  opacity: 0.2;
}

.user-link:hover {
  color: #000;
}
.user-link:hover::before {
  opacity: 1;
}

.user-link:active::before {
  opacity: 0.2;
}

.logout-link {
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 12px;
}

.logout-link:hover path {
  fill: #000;
}


.orders-link,
.admin-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.orders-link {
  padding-left: 10px;
}

.admin-link {
  padding-left: 30px;
  position: relative;
}

.admin-link::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  top: 6px;
  left: 10px;
} */



.site-header-menu {
  font-size: 17px;
  line-height: 55px;
  background-color: #32425c;
  box-shadow: 0px 5px 0px 0px #293449;
}

.site-header-menu ul {
  display: flex;
  list-style: none;
  /* justify-content: space-around; */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

}

.site-header-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

/* .site-header-menu a:first-child {
  padding-left: 52px;
} */

.site-header-menu a:hover {
  background-color: #293449;
}

.site-header-menu a:active {
  color: #a8abaf;
}



/* =========== site-footer ============ */
.site-footer {
  font-size: 18px;
  background-color: #32425c;
  color: #fff;
}

.footer-top-row {
  display: flex;
}

.footer-logo-block {
  width: 350px;
}

.footer-logo {
  font-size: 30px;
  line-height: 63px;
  background-color: #ee3643;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 5px 0px 0px #b52933;
  width: 220px;
  text-align: center;
  text-transform: uppercase;
}

.footer-address {
  margin-top: 40px;
  margin-bottom: 50px;
}

.footer-address a {
  text-decoration: none;
  color: #fff;
}

/* .footer-menu {
  width: 590px;
} */

.footer-menu {
  margin-top: 40px;
  width: 590px;
}

.footer-menu > ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-menu li {
  margin-left: 60px;
}

.footer-menu a {
  text-decoration: none;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-menu-site {
  display: flex;
}

.footer-menu-site a {
  color: #fff;
}

ul.footer-menu-catalog {
  margin-top: 40px;
}

.footer-menu-catalog a {
  color: #ffd180;
}

.footer-contacts-row {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
  padding-top: 34px;
  padding-bottom: 30px;
}

.footer-contacts-row .container {
  display: flex;
}

.copyright-text {
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
}

.social-list {
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.social-list a {
  margin-right: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212a3a;
}

.social-list a:hover,
.social-list a:active {
  background-color: #ee3643;
}

.social-list path {
  fill: #fff;
}

.footer-feedback {
  width: 190px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-developer-info {
  width: 110px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-feedback a,
.footer-developer-info a {
  color: #ffd180;
  text-decoration: none;
}

.footer-feedback a:hover,
.footer-developer-info a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developer-info a:active {
  color: #ee3643;
  text-decoration: none;
}



/* =========== popups ============ */
.popup {
  border-top: 7px solid #ff5257;
  position: fixed;
  box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.75);
}

.popup .close-button {
  position: absolute;
  top: 0;
  right: -1px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background: none;
  border: 0;
}

.popup footer {
  background-color: #f4f4f4;
}


.popup-map {
  top: 120px;
  left: 50%;
  width: 940px;
  margin-left: -470px;
}

.popup-write-us {
  top: 120px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  background: #fff;
}

.popup-form {
  padding: 50px 85px 35px 85px;
  display: flex;
  flex-wrap: wrap;
  width: 460px;
}

.popup-form p {
  margin-top: 0;
  margin-bottom: 0;
}

.popup-form p:first-child {
  margin-right: 20px;
}

.popup-form input {
  width: 220px;
  padding: 12px 14px;
  box-sizing: border-box;
}

.message-field {
  padding-top: 22px;
}

.message-field textarea {
  width: 460px;
  box-sizing: border-box;
  height: 115px;
  border: 2px solid #d7dcde;
  padding: 12px 14px;
}

.popup-form label {
  font-size: 18px;
  line-height: 18px;
  display: block;
  margin-bottom: 12px;
}

.popup-form input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  border: 2px solid #d7dcde;
}

.popup-form input:hover {
  border-color: #b5b5b5;
}

.popup-form input:focus {
  border-color: #ee3643;
}

.popup-write-us footer {
  padding-top: 37px;
  padding-bottom: 37px;
}

.write-us-button {
  margin: 0 auto;
  display: block;
  width: 460px;
}


.product-added-popup {
  top: 120px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  background: #fff;
}

.product-added-popup h2 {
  font-size: 30px;
  font-weight: normal;
  padding: 65px 80px 65px 180px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.product-added-popup h2::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 80px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon-mark.svg);
}

.product-added-popup footer {
  padding: 40px 80px;
}

.product-added-popup .button {
  width: 220px;
  /* line-height: 38px; */
}

.product-added-popup .button-checkout {
  display: inline-block;
  margin-right: 16px;
}

.product-added-popup .continue-button {
  line-height: 36px;
  background-color: #fff;
  color: #000;
}


/* =========== index.html ============ */
/* promo-block */
.promo-block {
  padding-top: 60px;
}

.promo-grid {
  display: flex;
  justify-content: space-between;
}

.promo-left-container .promo-list {
  display: flex;
  justify-content: space-between;
}

.promo-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.promo-list li {
  width: 275px;
  min-height: 98px;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-top: 25px;
  position: relative;
}

.promo-list .promo-materials {
  background: url(../img/icon-1.svg) 212px 30px no-repeat;
  background-color: #ffbf47;
}
.promo-list .promo-product {
  background: url(../img/icon-2.svg) 197px 30px no-repeat;
  background-color: #3bbce3;
}
.promo-list .promo-technics {
  background: url(../img/icon-3.svg) 190px 30px no-repeat;
  background-color: #dc91d8;
}
.promo-list .promo-sale {
  background: url(../img/icon-4.svg) 190px 30px no-repeat;
  background-color: #8ed78f;
}
.promo-list .promo-delivery {
  background: url(../img/icon-5.svg) 190px 30px no-repeat;
  background-color: #ffc047;
}

.promo-list b {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.promo-list a {
  font-size: 14px;
  line-height: 38px;
  width: 135px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0,0,0,0.1);
  display: block;
  text-align: center;
  margin-top: 15px;
  border-radius: 3px;
}

.promo-list .new {
  background-color: #ff5257;
  color: #fff;
  text-indent: -1000px;
  position: absolute;
  background: url(../img/new-flag.png) no-repeat;
  width: 60px;
  height: 59px;
  top: 0px;
  right: 0px;
}

.promo-list a:hover {
  background-color: rgba(0,0,0,0.2);
}

.promo-list a:active {
  background-color: rgba(0,0,0,0.3);
}

/* slider */
.slider {
  position: relative;
  width: 620px;
}

.slide {
  position: relative;
  padding: 25px 27px;
  height: 212px;
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide h3 {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.slide p {
  position: relative;
  font-size: 18px;
  color: #fff;
  margin-top: 0; /* задать отступ до заголовка */
  margin-bottom: 0;
}

.slide .button {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
}

.slider-next-button,
.slider-previous-button {
  position: absolute;
  top: 50%;
  margin: -20px 0 0 0;
  padding: 0;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.slider-previous-button {
  left: 25px;
}

.slider-next-button {
  right: 25px;
}

.slider-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 36px;
  width: 100px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -50px;
  padding-left: 0;
  list-style: none;
}

.slider-dots li {
  margin-left: 5px;
  margin-right: 5px;
}

.slider-dots a {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.slider-dots .active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #f00;
}

/* popular-products-block */
.block-with-items {
  margin-top: 20px;
}

.block-with-items header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  padding: 25px;
}

.block-with-items h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.block-with-items > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px 0 0px;
  padding: 0;
}

.block-with-items .header-button {
  width: 253px;
}

.popular-products-list li {
  margin-right: 20px;
  width: 220px;
}

.popular-products-list li:nth-child(4n) {
  margin-right: 0;
}

/* cards */
.card {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  border: 1px solid #eaeaea;
  position: relative;
}

.card:hover {
  box-shadow: 0px 10px 25px rgba(41,52,73,0.5);
}

.card img {
  margin-top: 30px;
}

.product-title {
  margin-top: 52px;
  margin-bottom: 20px;
  text-align: center;
  padding: 0px 30px;
}

.product-title a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.card strike {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  color: #999999;
  margin-top: 16px;
  display: block;
  text-align: center;
}

.card .price {
  background-color: #ee3643;
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 12px 42px 20px 42px;
  text-align: center;
  line-height: 38px;
  position: relative;
}

.card a.price:after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    width: 0;
    height: 0;
    border: 19px solid #fff;
    border-left-color: #ee3643;
  }

.card-buttons {
  display: none;
  flex-direction: column;
  position: absolute;
  top:34px;
  width: 100%;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card:hover .card-buttons {
  display: flex;
}

.card button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  display: inline-block;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  width: 135px;
  margin: 0 auto;
  cursor: pointer;
}

.card .buy-button {
  color: #fff;
  background-color: #63a63e;
  box-shadow: 0px 5px 0px 0px #367315;
  margin-bottom: 11px;
}

.card .buy-button:hover {
  background-color: #5fbb2d;
}

.card .buy-button:active {
  background-color: #518534;
  /* box-shadow: none; */
  transform: translateY(2px);
  box-shadow: 0px 3px 0px 0px #367315;
}

.card .favorites-button {
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
}

.card .favorites-button:hover {
  color: #32425c;
  border-color: #32425c;
}

.card .favorites-button:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.card .new {
  background-color: #ff5257;
  color: #fff;
  text-indent: -1000px;
  position: absolute;
  background: url(../img/new-flag.png) no-repeat;
  width: 60px;
  height: 59px;
  top: -1px;
  right: -1px;
  z-index: 1;
}

/* brands-list */
.brands-list li {
  width: 220px;
  margin-top: 20px;
  margin-right: 20px;
}

.brands-list li:nth-child(4n) {
  margin-right: 0;
}

.brands-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e4e4;
  width: 100%;
  height: 100%;
}

.brands-list a:hover {
  border-color: #fff;
  box-shadow: 0px 10px 25px rgba(41,52,73,0.5);
}

.brands-list a:active {
  border-color: #fff;
  box-shadow: 0px 4px 10px rgba(41,52,73,0.5);
}

/* services-block */
.services-block {
  background: url(../img/bg-truck.png) no-repeat 830px 245px;
  background-color: #f4f7f9;
  margin-top: 85px;
  padding-top: 65px;
  padding-bottom: 70px;
}

.services-block h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
.services-block p {
  font-family: 'PT Sans', Arial, sans-serif;
  width: 400px;
  margin-top: 0;
  margin-bottom: 0;
}

.delivery-section {
  display: flex;
  margin-top: 38px;
  position: relative;
}

.delivery-section::after {
  content: "";
  background: url(../img/shadow.png);
  width: 10px;
  height: 262px;
  position: absolute;
  left: 230px;
  top: -35px;
}

.delivery-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  width: 240px;
}

.delivery-list a {
  font-weight: bold;
  font-size: 21px;
  line-height: 60px;
  text-decoration: none;
  background-color: #32425c;
  color: #fff;
  display: block;
  padding-left: 20px;
}

.delivery-list a:hover {
  background-color: #293449;
}

.delivery-list a.active {
  color: #32425c;
  background-color: #fff;
}

.delivery-section section {
  padding-left: 80px;
}

.delivery-section h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.about-site-container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  margin-bottom: 86px;
}

.about-site {
  width: 560px;
}

.about-site h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.about-site p {
  font-family: 'PT Sans', Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.about-site ul {
  font-size: 18px;
  line-height: 20px;
  padding-left: 0;
  list-style: none;
}

.about-site li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
}

.about-site li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #ee3643;
  left: 0px;
  top: 7px;
}

.about-site .button {
  width: 220px;
  display: block;
}

.site-contacts {
  width: 300px;
}

.site-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.site-contacts .button {
  width: 100%;
  display: block;
}




/* =========== catalog.html ============ */
.breadcrumbs {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs li {
  position: relative;
  padding-left: 40px;
  background: url(../img/icon-right-small.svg) no-repeat 16px 2px;
}

.breadcrumbs li:first-child {
  padding-left: 0;
  background: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.heading-products {
  font-size: 30px;
  line-height: 90px;
  font-weight: normal;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
  padding-left: 30px;
}

.catalog-section {
  display: flex;
  justify-content: space-around;
}


/* filter-form */
.filter-form {
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 18px;
  width: 220px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-form b {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;
  line-height: 38px;
  background-color: #f7f3ec;
  display: block;
  text-transform: uppercase;
  padding-left: 18px;
}

.filter-form legend {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.price-controls input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 17px;
  height: 38px;
  background-color: #f7f3ec;
  border: none;
  text-align: center;
}

/* price-slider */
.range-filter {
    padding-top:10px;
    width:220px;
    margin:auto;
    margin-bottom:10px;
}
.range-controls {
    position:relative;
    height:80px;
    margin-bottom:10px;
    padding:0 30px;
    background: #f7f3ec;
    border-radius:5px;
    overflow:hidden;
}
.scale {
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.bar {
    height:2px;
    background:#00ca74;
}
.toggle {
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid #fff;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.min-toggle {
    left:70px;
}
.max-toggle {
    left:165px;
}

.price-controls {
  position: relative;
}

.price-controls::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background: #000;
  top: 20px;
  left: 105px;
}

.price-controls input {
    width: 95px;
    border: none;
    background-color: #f7f3ec;
    text-align: center;
    color: #000;
    border-radius: 5px;
}
.min-price {
    margin-right: 22px;
}



/* Чекбоксы и радиокнопки */
.filter-form ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.checkbox,
.radio {
  position: relative;
  padding-left: 35px;
}

.checkbox input,
.radio input {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.checkbox label,
.radio label {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 40px;
}

/* Состояние покоя */
.checkbox label::before,
.radio label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  /* background-image: url("https://monosnap.com/file/gVjvOjHtpNSZA8F0aUQ5qdBmqUfBxt.png"); */
  transform: translateY(-50%);
  opacity: 0.8;
}

.checkbox label::before {
  width: 23px;
  height: 23px;
  background: url(../img/checkbox-off.svg);
}

.radio label::before {
  width: 25px;
  height: 25px;
  background: url(../img/radio-off.svg);
}

/* Состояние выбранного */
.checkbox input:checked + label::before {
  background: url(../img/checkbox-on.svg);
  width: 27px;
}

.radio input:checked + label::before {
  background: url(../img/radio-on.svg);
}

/* Состояние наведения */
.checkbox label:hover::before,
.radio label:hover::before {
  opacity: 1;
}

/* Состояние заблокированного */
.checkbox input:disabled + label::before,
.radio input:disabled + label::before {
  opacity: 0.1;
}


.button-show {
  line-height: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 140px;
}



/* products-section */
.products-section {
  width: 700px;
}

/* sorting */
.sorting {
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 18px;
  background-color: #f7f3ec;
  display: flex;
  align-items: baseline;
  padding: 10px 20px;
  text-transform: uppercase;
}

.sorting b {
  margin-right: auto;
  font-weight: normal;
}

.sorting-links,
.sorting-arrows {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: baseline;
}

.sorting-links {
  margin-right: 45px;
}

.sorting-links li:not(:last-child) {
  margin-right: 65px;
}

.sorting-arrows li:not(:last-child) {
  margin-right: 20px;
}

.sorting-links a {
  text-decoration: none;
  color: #cacaca;
  border-bottom: 1px dotted #ee3643;
}

.sorting-links a:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sorting-links .active {
  color: #ee3643;
  border-bottom: none;
}

.sorting-arrows a {
  fill: #c5c5c5;
}

.sorting-arrows a:hover {
  fill: #231f20;
}

.sorting-arrows .active {
  fill: #ee3643;
}

/* products-list */
.products-list {
  display: flex;
  align-items: flex-flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.products-list li {
  margin-top: 20px;
  margin-right: 20px;
  width: 220px;
}

.products-list li:nth-child(3n) {
  margin-right: 0;
}


/* pagination */
.pagination {
  margin-top: 50px;
}

.pagination ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.pagination a {
  display: block;
  line-height: 36px;
  min-width: 36px;
  margin-right: 10px;
  border: 1px solid #eaeaea;
}

.pagination a.active {
  background-color: #ee3643;
  color: #fff;
  border-color: #ee3643;
}

.pagination a.next {
  padding-left: 32px;
  padding-right: 32px;
}

/* text-block */
.text-block {
  background-color: #f2f6f8;
  margin-top: 60px;
  padding-bottom: 74px;
}

.text-block h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 68px;
}

.text-block p {
  font-family: 'PT Sans', Arial, sans-serif;
  margin-top: 38px;
  margin-bottom: 0;
}
