/* =========== shared ============ */
body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;

}

.visually-hidden {
  display: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 940px;
}

.button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  text-decoration: none;
  color: #fff;
  border: none;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-outline {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.button-outline:hover {
  border-color: #bdc6ca;
}

.button-outline:active {
  border-color: #ee3643;
}




/* =========== site-header ============ */
.site-header {
  background-color: #f3f7f8;
}

.site-header-bar {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.site-header-bar .container {
  display: flex;
}

.header-logo {
  font-size: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: white;
  line-height: 42px;
  display: inline-block;
  width: 220px;
  text-align: center;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.bar-search input {
  width: 287px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 42px;
  border: none;
  background: none;
  color: #fff;
}

.bar-search input:focus {
  background-color: #fff;
  color: #000;
}

.bar-search input::placeholder {
  color: #fff;
}

.bar-bookmarks-link,
.bar-cart-link,
.bar-order-link {
  font-size: 17px;
  line-height: 42px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.bar-bookmarks-link {
  width: 150px;
}

.bar-cart-link {
  width: 132px;
}

.bar-order-link {
  width: 150px;
  background-color: #63a63e;
}

.bar-bookmarks-link:hover,
.bar-cart-link:hover {
  background-color: #212a3a;
}

.bar-order-link:hover {
  background-color: #5fbb2d;
}

.bar-bookmarks-link:active,
.bar-cart-link:active {
  background-color: #161d29;
  opacity: 0.6;
}

.bar-order-link:active {
  background-color: #518534;
  opacity: 0.6;
}

.bar-cart-link.with-items {
  background-color: #ee3643;
}

.bar-cart-link.with-items:hover {
  background-color: #ca2c37;
}

.bar-cart-link.with-items:active {
  background-color: #ba2732;
}

.site-header-content {
  display: flex;
  justify-content: space-between;
}

.header-slogan {
  width: 310px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  width: 320px;
}

.header-contacts a {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  text-decoration: none;
  display: inline-block;
  border: 3px solid #fff;
}

.header-contacts p {
  font-size: 14px;
  color: #32425c;
}

.user-block {
  font-size: 21px;
  line-height: 45px;
}

.login-link,
.registration-link,
.user-link {
  text-decoration: none;
  display: inline-block;
  color: black;
  background-color: #fff;
}

.orders-link,
.admin-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-block a:hover {
  color: #ee3643;
}

a.user-link:hover {
  color: #000;
}

.user-block a:active {
  color: #cacaca;
}


.site-header-menu {
  font-size: 17px;
  line-height: 55px;
  background-color: #32425c;
  box-shadow: 0px 5px 0px 0px #293449;
}

.site-header-menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.site-header-menu a {
  color: #fff;
  text-decoration: none;
}

.site-header-menu a:hover {
  background-color: #293449;
}

.site-header-menu a:active {
  color: #a8abaf;
}



/* =========== site-footer ============ */
.site-footer {
  font-size: 18px;
  background-color: #32425c;
  color: #fff;
}

.footer-top-row {
  display: flex;
}

.footer-logo-block {
  width: 350px;
}

.footer-logo {
  font-size: 30px;
  line-height: 63px;
  background-color: #ee3643;
  color: white;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 5px 0px 0px #b52933;
  width: 220px;
  text-align: center;
  text-transform: uppercase;
}

.footer-address a {
  text-decoration: none;
  color: #fff;
}

/* .footer-menu {
  width: 590px;
} */

.footer-menu > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-menu a {
  text-decoration: none;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-menu-site {
  display: flex;
}

.footer-menu-site a {
  color: #fff;
}

.footer-menu-catalog a {
  color: #ffd180;
}

.footer-contacts-row {
  display: flex;
  font-size: 16px;
  line-height: 18px;
}

.copyright-text {
  width: 280px;
}

.social-list {
  width: 350px;
}

.footer-feedback {
  width: 160px;
}

.footer-developer-info {
  width: 160px;
}

.footer-feedback a,
.footer-developer-info a {
  color: #ffd180;
  text-decoration: none;
}

.footer-feedback a:hover,
.footer-developer-info a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developer-info a:active {
  color: #ee3643;
  text-decoration: none;
}



/* =========== popups ============ */
.popup {
  border-top: 7px solid #ff5257;
}

.popup footer {
  background-color: #f4f4f4;
}

.popup-form label {
  font-size: 18px;
  line-height: 18px;
}

.popup-form input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  border: 2px solid #d7dcde;
}

.popup-form input:hover {
  border-color: #b5b5b5;
}

.popup-form input:focus {
  border-color: #ee3643;
}

 .close-button {
   background-color: none;
   border: none;
 }




/* =========== index.html ============ */
/* promo-block */
.promo-grid {
  display: flex;
  justify-content: space-between;
}

.promo-left-container .promo-list {
  display: flex;
  justify-content: space-between;
}

.promo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.promo-list li {
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}

.promo-list .promo-materials {
  background-color: #ffbf47;
}
.promo-list .promo-product {
  background-color: #3bbce3;
}
.promo-list .promo-technics {
  background-color: #dc91d8;
}
.promo-list .promo-sale {
  background-color: #8ed78f;
}
.promo-list .promo-delivery {
  background-color: #ffc047;
}

.promo-list b {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.promo-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0,0,0,0.1);
}

.promo-list a:hover {
  background-color: rgba(0,0,0,0.2);
}

.promo-list a:active {
  background-color: rgba(0,0,0,0.3);
}

/* slider */
.slider h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider p {
  font-size: 18px;
}

/* popular-products-block */
.block-with-items header {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
  padding: 25px;
}

.block-with-items h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: normal;
}

.block-with-items > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  width: 220px;
}

.card:hover {
  box-shadow: 0px 10px 25px rgba(41,52,73,0.5);
}

.product-title a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.card strike {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  color: #999999;
}

.card a.price {
  background-color: #ee3643;
  color: #fff;
  text-decoration: none;
}

.card button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 35px;
  display: inline-block;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
}

.card .buy-button {
  color: #fff;
  background-color: #63a63e;
  box-shadow: 0px 5px 0px 0px #367315;
}

.card .buy-button:hover {
  background-color: #5fbb2d;
}

.card .buy-button:active {
  background-color: #518534;
  box-shadow: none;
}

.card .favorites-button {
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
}

.card .favorites-button:hover {
  color: #32425c;
  border-color: #32425c;
}

.card .favorites-button:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.card .new {
  background-color: #ff5257;
  color: white;
}

/* brands-list */
.brands-list li {
  width: 220px;
}

.brands-list a {
  display: inline-block;
  border: 1px solid #e4e4e4;
  width: 100%;
  height: 100%;
  text-align: center;
}

.brands-list a:hover {
  border-color: white;
  box-shadow: 0px 10px 25px rgba(41,52,73,0.5);
}

.brands-list a:active {
  border-color: white;
  box-shadow: 0px 4px 10px rgba(41,52,73,0.5);
}

/* services-block */
.services-block {
  background-color: #f4f7f9;
}

.services-block h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.services-block p {
  font-family: 'PT Sans', Arial, sans-serif;
}

.delivery-section {
  display: flex;
}

.delivery-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 240px;
}

.delivery-list a {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  background-color: #32425c;
  color: #fff;
  display: inline-block;
  width: 100%;
}

.delivery-list a:hover {
  background-color: #293449;
}

.delivery-list a.active {
  color: #32425c;
  background-color: #fff;
}

.delivery-section h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.about-site-container {
  display: flex;
}

.about-site {
  width: 640px;
}

.about-site h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.about-site p {
  font-family: 'PT Sans', Arial, sans-serif;
}

.about-site ul {
  font-size: 18px;
  line-height: 20px;
}

.site-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}




/* =========== catalog.html ============ */
.breadcrumbs {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}



.heading-products {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  background-color: #f2f6f8;
}

/* filter-form */
.filter-form {
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 18px;
}

.filter-form b {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;
  line-height: 38px;
  background-color: #f7f3ec;
  display: block;
  text-transform: uppercase;
}

.filter-form legend {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.price-controls input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 17px;
  height: 38px;
  background-color: #f7f3ec;
  border: none;
  text-align: center;
}

/* sorting */
.sorting {
  background-color: #f7f3ec;
}

.sorting b {
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 18px;
}

.sorting a {
  text-decoration: none;
  color: #cacaca;
  border-bottom: 1px dotted #ee3643;
}

.sorting a:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sorting a.active {
  color: #ee3643;
  border-bottom: none;
}

/* pagination */
.pagination a.active {
  background-color: #ee3643;
  color: #fff;
  border-color: #ee3643;
}

/* text-block */
.text-block {
  background-color: #f2f6f8;
}

.text-block h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.text-block p {
  font-family: 'PT Sans', Arial, sans-serif;
}
